<main class="main">
    <section class="section">
        <div class="container">
            <h2 class="title">Бійка з <span>равликом</span></h2>
            <i class="text">The Smithfield Decretals, southern France (probably Toulouse), with marginal scenes added in
                England, London, c. 1300-c. 1340, Royal MS 10 E IV, f. 107</i>
        </div>
    </section>

    <article class="article">
        <div class="container">
            <div class="inner">
                <div class="head-row">
                    <h2 class="title">Страшнішого за равлика звіра немає!</h2>
                    <h4 class="sub-title">Давня боротьба</h4>
                </div>
                <div class="row">
                    <div class="col col-1-2">
                        <div class="block-text">
                            <h3 class="medium-title text-left">
                                Передумови
                            </h3>
                            <p class="text">
                                Сьогоднішній переказ буде сповнений краси та загадок. Битва лицаря та равлики –
                                досить поширений сюжет маргіналій середньовічних рукописів.
                                Таємниця його ще не розгадана. Британська бібліотека запропонувала всім охочим
                                взяти участь у розслідуванні. Можливо, успіх усміхнеться саме вам.
                            </p>
                        </div>
                    </div>
                    <div class="col col-1-2">
                        <img class="w100p" src="img/picture-1.jpg" alt="picture">
                        <i>The Gorleston Psalter, England, Suffolk, 1310-1324, Add MS 49622, f. 193v</i>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col col-1-2">
                                <img class="w100p" src="img/picture-2.jpg" alt="picture">
                            </div>
                            <div class="col col-1-2">
                                <img class="w100p" src="img/picture-3.jpg" alt="picture">
                            </div>
                        </div>
                        <i>Brunetto Latini's Li Livres dou Tresor, France, Picardy, c. 1315-1325, Yates Thompson
                            MS 19, f. 65r</i>
                    </div>
                    <div class="col col-1-2">
                        <div class="block-text">
                            <h3 class="medium-title text-left">
                                Якісь мотиви
                            </h3>
                            <p class="text">
                                Мотив битви з равликом не залежить безпосередньо від тексту, ні від характеру
                                манускрипта. Він зустрічається повсюдно: в лицарських романах, часословах,
                                бревіаріях, в псалтирях etc З равликами борються лицарі в повному одязі, різні
                                тварини, більше того, нерідкий мотив "перетворення на равлик". Іноді ми бачимо
                                "молення про пощаду" - уклінний, повалений лицар схиляється перед своїм рогатим
                                ворогом. Точний зміст подібного досі мучить розуми дослідників.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</main>
